astroid==3.2.4
bandit==1.7.9
black==26.5.0
boolean.py==5.0
build==1.2.1
CacheControl==0.14.4
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
coverage==7.14.0
cyclonedx-python-lib==7.6.2
defusedxml==0.7.1
dill==0.4.1
filelock==3.29.0
flake8==7.1.0
html5lib==1.1
idna==3.15
iniconfig==2.3.0
isort==5.13.2
license-expression==30.4.4
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
mypy==1.10.1
mypy_extensions==1.1.0
packageurl-python==0.17.6
packaging==26.2
pathspec==1.1.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
platformdirs==4.9.6
pluggy==1.6.0
py-serializable==1.1.2
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.20.0
pylint==3.2.3
pyparsing==3.3.2
pyproject_hooks==1.2.0
pytest==9.0.3
pytest-cov==5.0.0
pytokens==0.4.1
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
six==1.17.0
sortedcontainers==2.4.0
stevedore==5.7.0
toml==0.10.2
tomlkit==0.15.0
typing_extensions==4.15.0
urllib3==2.7.0
webencodings==0.5.1
